body {
    background-color: #AFEEEE;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #039be5;
    
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero {
    display: flex;
    justify-content: wrap;
    flex-wrap: wrap;
    background-image: url(../images/alternateBackground.jpeg);
    background-size: cover;
    background-position: center;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    color: whitesmoke;
    }


.hide-text {
    opacity: 0.0;
}

/* contact us styles start */



.contact h2 {
    color: #039be5;
    display: flex;
    justify-content: center;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info > * {
    flex: 1;
    margin: 15px;
}

.contact-info h3 {
    color: #039be5;
    font-size: 30px;
}

.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}

.contact-form input, .contact-form textarea {
    border: 1px solid black;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #039be5;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}

.contact-form button {
    width: 100%;
    border: none;
    background: #ee6e73;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}

.contact-form button:hover {
    color: #039be5;
}

.create {
    border: 2px solid #DFA612;
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
  }
  
.ingredient-list {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }
  
.draggable {
    background-color: #4AAE9B;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
  }
  
.dropzone {
    background-color: #6DB65B;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropover {
    background: rgba(0,0,0,0.3);
}

.dropover-active {
    background: #0f7aa5e6;
}